*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(../imagenes/pexels-pixabay-459451.jpg) #201d1d;
    background-size: cover;
    color: white;
    font-family:'New Tegomin', serif;
    font-size: 70px;
}
.conteGeneral{
    /*background-color: rgba(165, 222, 212, 0.5);*/
    /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, .8);*/
    border-radius: 2px;
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.conteFecha{
    background-color: rgba(49, 50, 54, 0.226);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .8);
    border-radius: 2px;
    width: 80%;
    height: 80%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteHora{
    background-color: rgba(49, 50, 54, 0.226);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .8);
    border-radius: 2px;
    width: 80%;
    height: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amPmSeg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.amPmSeg .amPm{
    font-size: 30px;
}
.amPmSeg .seg{
    font-size: 25px;
}
.conteFecha p {
    margin-left: 20px;
}
/*estilos llamado a la api */

.contPeticionApi{
    display:flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Lato', sans-serif;
}
.contPaisCiudadBtn{
    background-color: rgba(56, 56, 56, 0.911);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
    height:300px;
    width: 30%;
    font-size:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contCiudad{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.contCiudad input {
    height: 30px;
    width: 220px;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.8);
    border: 0px;
    font-size: 20px;
    margin-top: 5px;
}
.contPais{
    display: flex;
    flex-direction: column;
    margin-top: 15px; 
}
.pais {
    height: 30px;
    width: 220px;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.8);
    border: 0px;
    font-size: 20px;
    margin-top: 5px;
}
.boton{
    height: 30px;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.8);
    border: 0px;
    font-size: 20px;
    margin-top: 40px;
    padding-right: 10px;
    padding-left: 10px; 
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.8);
    border: 0px;   
}

.contInfoClima{
    background-color: rgba(65, 65, 65, 0.589);
    height:300px;
    max-height:300px;
    width: 70%;
    font-size: 28px;
    color: rgb(255, 255, 255);
    padding-top:15px;
    box-sizing: border-box;
    padding-left: 45px;
    padding-right: 45px;
}
.textCiudad {
    font-size: 40px;
    font-weight: bold;
}
.textTemp {
    font-size: 35px;
    margin-top: 10px;
}
.contDatos{
    display: flex;
    flex-direction: row;
    background-color: rgba(56, 56, 56, 0.692);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .8);
    justify-content: space-evenly;
    margin-top: 20px;
    margin-right: 45px;
    height: 115px;
    padding-top: 18px;
    box-sizing: border-box;
    color: white;    
}
.linea{
    border-left: 5px solid rgb(0, 0, 0) ;
    margin-bottom: 18px;
}
.contTempMaxMinHumVient p {
    margin-bottom: 6px;
}
.alert{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    height: 50px; 
    text-align: center;
    line-height: 50px; 
    margin-top: 100px;
}
